In [1]:
# A lambda function is a small anonymous function.
# A lambda function can take any number of arguments, but can only have one expression.

In [2]:
from People import *

In [3]:
doubleMe = lambda x : x * 2
print(type(doubleMe))
print(doubleMe(3))

<class 'function'>
6

In [4]:
mul = lambda x, y : x * y
print(mul(4,5))

20

In [5]:
# Using recursion and a ternary operation
fact = lambda n : n * fact(n - 1) if n > 1 else 1
print(fact(7))

5040

In [6]:
people = []
person = {
    'id': 123456789,
    'lastName': "Smith",
    'firstName': "John"
}
people.append(person)
person = {
    'id': 654123789,
    'lastName': "Williasms",
    'firstName': "Jill"
}
people.append(person)
people.append({ 'id': 467894531, 'lastName': "Jones", 'firstName': "Bill" })
print(people)

[{'id': 123456789, 'lastName': 'Smith', 'firstName': 'John'}, {'id': 654123789, 'lastName': 'Williasms', 'firstName': 'Jill'}, {'id': 467894531, 'lastName': 'Jones', 'firstName': 'Bill'}]

In [7]:
people.sort(key=lambda x:x['lastName'])
print(people)

[{'id': 467894531, 'lastName': 'Jones', 'firstName': 'Bill'}, {'id': 123456789, 'lastName': 'Smith', 'firstName': 'John'}, {'id': 654123789, 'lastName': 'Williasms', 'firstName': 'Jill'}]

In [1]:
people = []
people.append(Person(123456789, "John", "Smith"))
people.append(Person(654123789, "Jill", "Williams"))
people.append(Person(467894531, "Bill", "Jones"))
people.append(Person(791237894, "Phil", "Jones"))
people.append(Person(791237894, "John", "Jones"))
for p in people: print(p)

NameError: name 'Person' is not defined

In [9]:
people.sort(key=lambda x:x.lastName)
for p in people: print(p)

467894531 Jones           Bill
791237894 Jones           Phil
791237894 Jones           John
123456789 Smith           John
654123789 Williams        Jill

In [10]:
people.sort(key=lambda x:(x.lastName, x.firstName))
for p in people: print(p)

467894531 Jones           Bill
791237894 Jones           John
791237894 Jones           Phil
123456789 Smith           John
654123789 Williams        Jill

In [11]:
people.sort(key=lambda x:(x.lastName, x.firstName),reverse=True)
for p in people: print(p)

654123789 Williams        Jill
123456789 Smith           John
791237894 Jones           Phil
791237894 Jones           John
467894531 Jones           Bill