In [18]:
from functools import reduce

In [1]:
# Make code screen wider
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

In [ ]:
# map - Apply a function to every item in a given list.  There is a one-for-one correspondence between input and output
items = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, items))
print (items)
print(squared)

In [13]:
def square(x):
        return (x**2)
def cube(x):
        return (x**3)

funcs = [square, cube]
for r in range(5):
    value = list(map(lambda x: x(r), funcs))
    print (value)

[0, 0]
[1, 1]
[4, 8]
[9, 27]
[16, 64]

In [4]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

50

In [7]:
people = [
    { 'id': 123456789, 'lastName': "Smith", 'firstName': "John", 'address': "123 Elm Street", 'city': "San Diego", 'state': "CA", 'postalCode': "92121" },
    { 'id': 789456123, 'lastName': "Williams", 'firstName': "Jane", 'address': "555 Main St", 'city': "Escondido", 'state': "CA", 'postalCode': "92027" },
    { 'id': 987654321, 'lastName': "Jones", 'firstName': "Carla", 'address': "212 Washington Ave", 'city': "Las Vegas", 'state': "NV", 'postalCode': "89109" },
    { 'id': 654987123, 'lastName': "Jackson", 'firstName': "Mickey", 'address': "1001 Happy Lane", 'city': "Dallas", 'state': "TX", 'postalCode': "75201" }
]
    
print(people)

[{'id': 123456789, 'lastName': 'Smith', 'firstName': 'John', 'address': '123 Elm Street', 'city': 'San Diego', 'state': 'CA', 'postalCode': '92121'}, {'id': 789456123, 'lastName': 'Williams', 'firstName': 'Jane', 'address': '555 Main St', 'city': 'Escondido', 'state': 'CA', 'postalCode': '92027'}, {'id': 987654321, 'lastName': 'Jones', 'firstName': 'Carla', 'address': '212 Washington Ave', 'city': 'Las Vegas', 'state': 'NV', 'postalCode': '89109'}, {'id': 654987123, 'lastName': 'Jackson', 'firstName': 'Mickey', 'address': '1001 Happy Lane', 'city': 'Dallas', 'state': 'TX', 'postalCode': '75201'}]

In [10]:
stateNames = list(map(lambda x:states[x['state']], people))
print(stateNames)

['California', 'California', 'Nevada', 'Texas']

In [14]:
#filter creates a list of elements for which a function returns true
number_list = range(-5, 5)
less_than_zero = list(filter(lambda x: x < 0, number_list))
print(less_than_zero)

[-5, -4, -3, -2, -1]

In [15]:
# get all people from California
people_from_ca  = list(filter(lambda x: x['state'] == 'CA', people))
print(people_from_ca)

[{'id': 123456789, 'lastName': 'Smith', 'firstName': 'John', 'address': '123 Elm Street', 'city': 'San Diego', 'state': 'CA', 'postalCode': '92121', 'stateName': 'California'}, {'id': 789456123, 'lastName': 'Williams', 'firstName': 'Jane', 'address': '555 Main St', 'city': 'Escondido', 'state': 'CA', 'postalCode': '92027', 'stateName': 'California'}]

In [25]:
# reduce is a really useful function for performing some computation on a list and returning the result. It applies a rolling computation to sequential pairs of values in a list.

# Factorial...
product = 1
list = [1, 2, 3, 4]
for num in list:
    product = product * num
    
print(product)


product = reduce((lambda x, y: x * y), list)  # note running total stored in x
print(product)

24
24

In [21]:
items = [1, 2, 3, 4, 5]
average = reduce((lambda x, y: x + y), items) / len(items)
print(average)

3.0

In [24]:
minValue = lambda a,b: a if (a < b) else b
print(reduce(minValue,items))

1